@model SistemaReservasViajes.Models.Actividad

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Actividad</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ActividadID" />
            <div class="form-group">
                <label asp-for="ReservaID" class="control-label"></label>
                <input asp-for="ReservaID" class="form-control" />
                <span asp-validation-for="ReservaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DestiniID" class="control-label"></label>
                <input asp-for="DestiniID" class="form-control" />
                <span asp-validation-for="DestiniID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreActividad" class="control-label"></label>
                <input asp-for="NombreActividad" class="form-control" />
                <span asp-validation-for="NombreActividad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaActividad" class="control-label"></label>
                <input asp-for="FechaActividad" class="form-control" />
                <span asp-validation-for="FechaActividad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DuracionHoras" class="control-label"></label>
                <input asp-for="DuracionHoras" class="form-control" />
                <span asp-validation-for="DuracionHoras" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
